@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');

.fa-dizzy {
  text-shadow: .5px .5px darkgrey;
}

h2 {
  font-family: 'Joti One', cursive;
  font-size: 45px;
  color: white;
}

.deadman {
  p {
    font-family: 'Joti One', cursive;
  }
}
