.tank {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.cont {
  width: 50%;
  margin: 10px auto 0px auto;
  border: 4px solid white;
  border-radius: 5px;
  padding: 20px;
}
